// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-primary: #00a7e1;
    --ion-color-primary-contrast: #ffffff;
  
    --ion-color-dark: #1a1c2c;
    --ion-color-dark-contrast: #ffffff;
  
    --ion-background-color: #f5f8fb;
  }
  