<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>
        <img src="assets/icon/Higeo-letra-blanco.png" alt="Logo" style="height: 32px;" />
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="menu-list">
      <ion-item routerLink="/home" routerLinkActive="active">🏠 Inicio</ion-item>
      <ion-item routerLink="/perfil" routerLinkActive="active">👤 Perfil</ion-item>
      <ion-item routerLink="/configuracion" routerLinkActive="active">⚙️ Configuración</ion-item>
    </ion-list>
    <div class="menu-footer">
      <small>2025 © SaveCompany</small>
    </div>
  </ion-content>
</ion-menu>
